{% extends 'layouts/nfbase.html' %}

{% block title %}Test your luck against the roll of the dice{% endblock %}
{% block meta_description %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block body %}
<div class="verso-content">

            <div class="section">
                <div class="section-background">
                    <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax verso-demo-bg-image-01"></div>
                    <div class="section-bg-image verso-demo-bg-noise verso-opacity-5"></div>
                </div>
                <div class="section-content">
                    <div class="container">
                        <div class="row verso-pt-20 verso-pb-15 align-items-center">
                            <div class="col-lg-4 text-center text-lg-left">
                                <h1 class="verso-os-animation verso-font-weight-200 text-muted verso-mt--3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                    Real-time
                                    <span class="verso-demo-color-gray-dark">feedback</span>
                                    <span class="d-block">on
                                        <span class="verso-demo-color-gray-dark">your</span> marketing</span> content
                                </h1>
                            </div>
                            <div class="col-lg-8">
                                <img class="verso-os-animation img-fluid" data-os-animation="fadeIn" data-os-animation-delay=".4s"  src="{{ url_for('static', filename= 'images/output.png') }}" alt="marketing">
                            </div>
                        </div>

                        <div class="row verso-pb-15">
                            <div class="col-md-4 text-center">
                                <img class="verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s" src="{{ url_for('static', filename= 'images/head.png') }}" alt="service">
                                <h2 class="h4 verso-mb-3 verso-mt--2 verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">Target</h2>
                                <p class="verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">Our A.I. provides the ability to test marketing copy infront of a virtual representation of your target audience before you release it to the world.</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <img class="verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s" src="{{ url_for('static', filename= 'images/eye.png') }}" alt="service">
                                <h2 class="h4 verso-mb-3 verso-mt--2 verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">Create</h2>
                                <p class="verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">Leveraging billions of data points, our A.I. provides real-time suggestions to improve your copy and images.</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <img class="verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s" src="{{ url_for('static', filename= 'images/measure.png') }}" alt="service">
                                <h2 class="h4 verso-mb-3 verso-mt--2 verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">Measure</h2>
                                <p class="verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".7s">We use predictive modeling to estimate engagement, allowing you to optimize for Likes and Replies.</p>
                            </div>
                        </div>

                        <div class="row verso-pb-15  align-items-center">
                            <div class="col-lg-7">
                                <img class="verso-os-animation img-fluid" data-os-animation="fadeInLeft" data-os-animation-delay=".3s" style="box-shadow: 10px 10px 10px grey;" src="{{ url_for('static', filename= 'images/liftrscreen.JPG') }}" alt="Liftr">
                            </div>
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-4">
                                <h2 class="verso-mb-3 verso-mt--2 verso-os-animation verso-font-weight-200" data-os-animation="fadeIn" data-os-animation-delay=".3s">Why <b style="color: #ff7474;">Liftr</b>?</h2>
                                <p class="verso-os-animation verso-demo-list-bg-image-01 verso-pt-3 verso-pl-3 verso-mb-5" data-os-animation="fadeIn" data-os-animation-delay=".4s">Unparalleled persona testing capabilities to personalize and optimize your message.</p>
                                <p class="verso-os-animation verso-demo-list-bg-image-02 verso-pt-3 verso-pl-3 verso-mb-5" data-os-animation="fadeIn" data-os-animation-delay=".5s">Our A.I. is continuously learning so suggestions change as the interests of your taregt audience change.</p>
                                <p class="verso-os-animation verso-demo-list-bg-image-03 verso-pt-3 verso-pl-3 verso-mb-5" data-os-animation="fadeIn" data-os-animation-delay=".6s">Automate your testing process to increase performance and decrease time to market.</p>
                            </div>
                        </div>

                        <div class="row verso-pb-15">
                            <div class="col-lg-12 text-center">
                                <h2 class="verso-mb-3 verso-mt-7 verso-os-animation verso-font-weight-200 " data-os-animation="fadeIn" data-os-animation-delay=".3s">Emotional Response</h2>
                                <p class="verso-os-animation verso-mb-5" >How do your customers <b class="verso-os-animation" style="color:#ff7474;" data-os-animation="fadeIn" data-os-animation-delay="0.3s">feel</b> about your brand, product, and message? Across <b class="verso-os-animation" style="color:#ff7474;" data-os-animation="fadeIn" data-os-animation-delay="0.7s">13 emotions</b>, and prior to marketing being released, <b class="verso-os-animation" style="color:#ff7474;" data-os-animation="fadeIn" data-os-animation-delay="1.2s">Liftr</b> can measure your target audience's emotional response. 
                                </p>

                            </div>
<!--                             <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card card-horizontal verso-shadow-big verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="card-img-container">
                                                        <div id="carousel-01" class="carousel slide carousel-indicators-circle" data-ride="carousel">
                                                            <ol class="carousel-indicators justify-content-start verso-ml-2 verso-mr-2">
                                                                <li data-target="#carousel-01" data-slide-to="0" class="active verso-transition"></li>
                                                                <li data-target="#carousel-01" data-slide-to="1" class="verso-transition"></li>
                                                                <li data-target="#carousel-01" data-slide-to="2" class="verso-transition"></li>
                                                            </ol>
                                                            <div class="carousel-inner" role="listbox">
                                                                <div class="carousel-item active">
                                                                    <img class="card-img" src="assets/images/web-agency-portfolio-01-750x425.jpg" alt="Card image">
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <img class="card-img" src="assets/images/web-agency-portfolio-02-750x425.jpg" alt="Card image">
                                                                </div>
                                                                <div class="carousel-item">
                                                                    <img class="card-img" src="assets/images/web-agency-portfolio-03-750x425.jpg" alt="Card image">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-body">
                                                        <h4 class="card-title text-uppercase verso-mb-3">
                                                            <a href="portfolio-single.html">Gecko Inc.</a>
                                                        </h4>
                                                        <p class="card-text verso-mb-3">So you’ve got a few hundred layers named rectangle copy? We all do. Rename It is here to batch rename those layers to get. </p>
                                                        <ul class="fa-ul">
                                                            <li class="verso-mb-1">
                                                                <i class="fa-li fa fa-check verso-demo-color-gray-dark small"></i>Branding & Logo</li>
                                                            <li class="verso-mb-1">
                                                                <i class="fa-li fa fa-check verso-demo-color-gray-dark small"></i>Web Design</li>
                                                            <li class="verso-mb-1">
                                                                <i class="fa-li fa fa-check verso-demo-color-gray-dark small"></i>SEO optimization</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card verso-shadow-big verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                            <div class="card-img-container">
                                                <img class="card-img" src="assets/images/web-agency-portfolio-04-260x340.jpg" alt="Card image">
                                            </div>
                                            <div class="card-body text-center">
                                                <h4 class="card-title text-uppercase verso-mb-1">
                                                    <a href="portfolio-single.html">Oxygenna</a>
                                                </h4>
                                                <p class="card-text verso-mb-0">Branding, Web Design</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card verso-shadow-big verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                            <div class="card-img-container">
                                                <img class="card-img" src="assets/images/web-agency-portfolio-05-260x340.jpg" alt="Card image">
                                            </div>
                                            <div class="card-body text-center">
                                                <h4 class="card-title text-uppercase verso-mb-1">
                                                    <a href="portfolio-single.html">Envato</a>
                                                </h4>
                                                <p class="card-text verso-mb-0">SEO, Web Design</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card verso-shadow-big verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                            <div class="card-img-container">
                                                <img class="card-img" src="assets/images/web-agency-portfolio-06-260x340.jpg" alt="Card image">
                                            </div>
                                            <div class="card-body text-center">
                                                <h4 class="card-title text-uppercase verso-mb-1">
                                                    <a href="portfolio-single.html">Verso</a>
                                                </h4>
                                                <p class="card-text verso-mb-0">App, Branding</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
 -->
                        </div>
                        <div class="row verso-pb-15  align-items-center">
                            <div class="col-lg-7 ml-auto verso-mb--20">
                                <img class="verso-os-animation img-fluid" data-os-animation="fadeIn" data-os-animation-delay=".3s" src="{{ url_for('static', filename= 'images/egraph.png') }}" alt="ipad">
                            </div>
                            <div class="col-lg-7">
                                <div class="card verso-shadow-big verso-transition verso-mb-3 verso-os-animation verso-os-animation verso-mt--20" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                    <div class="card-body">
                                        <div id="carousel-02" class="carousel slide verso-pl-2 verso-pr-2 verso-pb-3 text-center carousel-indicators-circle" data-ride="carousel">
                                            <ol class="carousel-indicators ">
                                                <li data-target="#carousel-02" data-slide-to="0" class="active verso-transition"></li>
                                                <li class="verso-transition" data-target="#carousel-02" data-slide-to="1"></li>
                                                <li class="verso-transition" data-target="#carousel-02" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <blockquote class="card-blockquote blockquote">
                                                        <p>After analyzing over one billion data points... “emotionally connected” consumers generate anywhere from 30% to 100% greater annual value than other customers.</p>
                                                        <footer class="blockquote-footer text-uppercase verso-mt-3 ">Motista
                                                        </footer>
                                                    </blockquote>
                                                </div>
                                                <div class="carousel-item">
                                                    <blockquote class="card-blockquote blockquote">
                                                        <p>Brand attachment is positively related to brand love. Brand love reinforces the trust, interest in continuing a relationship and faith in the future of the brand.</p>
                                                        <footer class="blockquote-footer text-uppercase verso-mt-3">Journal of Brand Management
                                                        </footer>
                                                    </blockquote>
                                                </div>
                                                <div class="carousel-item">
                                                    <blockquote class="card-blockquote blockquote">
                                                        <p><!-- The research finds that 86% of consumers with high emotional engagement say they always think of the brands they are loyal to when they need something, and 82% always buy from the brand when they need something. -->Marketers predominantly rely on retention metrics to measure the effectiveness of their loyalty strategies, but that approach ignores the emotional context of customer relationships.</p>
                                                        <footer class="blockquote-footer text-uppercase verso-mt-3">Forrester
                                                        </footer>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row verso">
                            <div class="col-lg-12 text-center">
                                <h2 class="verso-mb-3 verso-mt-7 verso-os-animation verso-font-weight-200 " data-os-animation="fadeIn" data-os-animation-delay=".3s">Providing Context to Conversation</h2>
                                <p class="verso-os-animation verso-mb-5" ><b class="verso-os-animation" style="color:#0C6AB3;" data-os-animation="fadeIn" data-os-animation-delay="0.7s">AI</b> is a blanket term used when combining serveral different cutting edge technologies. Our <b class="verso-os-animation" style="color:#0C6AB3;" data-os-animation="fadeIn" data-os-animation-delay="1.2s">AI</b> can classify data, and build visual representations of conversations in seconds.
                                </p>
                            </div>
                        </div>

                        <div class="row verso-pb-15">
                          <div class="col-lg-6">
                                <img class="verso-os-animation img-fluid" data-os-animation="fadeInLeft" data-os-animation-delay=".5s" src="{{ url_for('static', filename= 'images/confuse.png') }}" alt="ipad">
                          </div>
                          <div class="col-lg-1">
                          </div>
                          <div class="col-lg-5" style="margin-top: 4rem; text-align: center;">
                            <p>Consumer conversations occur on social media, review sites, blogs, forums and in enterprise data everyday. Sifting through multiple data sources to surface key consumer insights is important for multiple functions in a business.</p>
                            <br/>
                            <h5><b class="verso-os-animation" style="color:#0C6AB3;" data-os-animation="fadeIn" data-os-animation-delay="0.6s">Text</b> and <b class="verso-os-animation" style="color:#0C6AB3;" data-os-animation="fadeIn" data-os-animation-delay="0.7s">Image</b> analysis provide a 360&#176 view of all customer conversations.</h5> 
                          </div>
                        </div>
                        <div class="row verso-pt-10 verso-pb-15">
                          <div class="col-lg-5">
                          </div>
                          <div class="col-lg-2">
                            <a href="{{ url_for('contact.index')}}"><button style="background-color: #ff7474;"" class="btn btn-primary verso-shadow-2">Contact Us</button></a>
                          </div>
                          <div class="col-lg-5">
                          </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
{% endblock %}
