{% extends 'layouts/base.html' %}

{% block title %}Test your luck against the roll of the dice{% endblock %}
{% block meta_description %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block body %}
<div class="verso-content">

            <div class="section"s>
                <div class="section-background">
                    <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax verso-demo-bg-image-01"></div>
                    <div class="section-bg-image verso-demo-bg-noise verso-opacity-5"></div>
                </div>
                <div class="section-content">
                    <div class="container">
                        <div class="row verso-pt-20 verso-pb-15 align-items-center">
                            <div class="col-lg-4 text-center text-lg-left">
                                <h1 class="verso-os-animation verso-font-weight-200 text-muted verso-mt--3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                    All we do is
                                    <span class="verso-demo-color-gray-dark">dream</span>
                                    <span class="d-block">and
                                        <span class="verso-demo-color-gray-dark">craft</span> amazing</span> products
                                </h1>
                            </div>
                            <div class="col-lg-8">
                                <img class="verso-os-animation img-fluid" data-os-animation="fadeIn" data-os-animation-delay=".4s" src="assets/images/web-agency-macbook-730x520.png" alt="macbook">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
