{% extends 'layouts/nfbase.html' %}

{% block title %}Test your luck against the roll of the dice{% endblock %}
{% block meta_description %}Compete against yourself and others by guessing the
outcome of a dice roll. Win points and dominate the leaderboard.{% endblock %}

{% block body %}

<div class="video-overlay"></div>

<video loop muted autoplay class="sqs-html5-video">
    <source src="{{ url_for('static', filename= 'video/2.webm') }}" type="video/webm">
    <source src="{{ url_for('static', filename= 'video/2.mp4') }}" type="video/mp4">
    <source src="{{ url_for('static', filename= 'video/2.ogv') }}" type="video/ogg">
</video>

<div class="text-copy">
  <h1><b style="color: #ff7474;">LIFTR</b></h1>
  <h3 style="color: white;">IN DEVELOPMENT</h3>
</div>

{% endblock %}
