{% extends 'layouts/nfbase.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Contact us with your feedback or issues{% endblock %}
{% block meta_description %}Contact our customer service department with any
questions or concerns.{% endblock %}

{% block body %}

  <div class="verso-content">

            <div class="section">
                <div class="section-background">
                    <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax verso-demo-bg-image-01"></div>
                    <div class="section-bg-image verso-demo-bg-noise verso-opacity-5"></div>
                </div>
                <div class="section-content">
                    <div class="container">
                        <div class="row verso-pt-20 verso-pb-15 align-items-center">
                            <div class="col-lg-6 text-center text-lg-left">
                                <h1 class="verso-os-animation verso-font-weight-200 text-muted" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                    Have questions? Don't hesitate to
                                    <span class="verso-demo-color-gray-dark">get in touch.</span>
                                </h1>
                            </div>
                        </div>

                        <div class="row verso-pb-15">
                            <div class="col-lg-3 text-center text-lg-left verso-order-lg-2">
                                <h2 class="verso-mb-3 verso-mt-7 verso-os-animation verso-font-weight-200 " data-os-animation="fadeIn" data-os-animation-delay=".3s">Send an email</h2>
                                <p class="verso-os-animation verso-mb-5" data-os-animation="fadeIn" data-os-animation-delay=".4s">We are hard at work developing our creative A.I. assistant, <a href="{{ url_for('page.liftr')}}" style="color:#ff7474;">Liftr</a>. Please submit any requests for demos here.</p>
                            </div>
                            <div class="col-lg-9">
                                <div class="card card-hero verso-shadow-big verso-mb-3 verso-transition verso-mb-0 verso-os-animation verso-os-animation text-center verso-demo-bg-card-07" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                    <div class="card-body">
                                              {% call f.form_tag('contact.index') %}

                                                {% call f.form_group(form.email, css_class='margin-bottom',
                                                                     placeholder='E-mail address') %}
                                                {% endcall %}

                                                {% call f.form_group(form.message, css_class='margin-bottom',
                                                                     placeholder='Connect with us...',
                                                                     rows='12') %}
                                                {% endcall %}

                                                <button type="submit" class="btn btn-primary">Send e-mail</button>
                                              {% endcall %}
                                    </div>
                                </div>
                            </div>
                        </div>


{% endblock %}
